
<p>Please sign in</p>

<form method="post" action="/sessions">
  Email: <input type="text" name='email'>
  Password: <input type="password" name='password'>
  <input type="submit" value="Sign in">
</form>

<p>forgotten your password?</p>
<div id="reset-password-box">
  <form action="/new_password/new">
    <input type="submit" value="Reset Password">
  </form>
</div>
