<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Welcome to Bookmark Manager</title>
	</head>
	<body>
		<div id="container">
			<% if current_user %>
		    Welcome, <%= current_user.email %>
		  <% end %>
			<%= yield %>
		</div>
	</body>
</html>